@import "_normorlize";

body {
  font-family: "Noto Sans TC", sans-serif;
}
image {
  max-width: 100%;
}
a {
  color: black;
  text-decoration: none;
}
ul {
  margin: 0%;
  padding: 0%;
  list-style: none;
}
.container {
  width: 1180px;
  margin: 0% auto;
}
header {
  padding: 8px 16px;
  background-color: white;
  position: sticky;
  top: 0;
  z-index: 50;
  border-bottom: 1px solid black;
}
.header-menu {
  font-size: 18px;
  display: flex;

  a {
    display: block;
    padding: 8px 10px;
    color: #838383;
  }

  a:hover {
    color: #0000;
  }
}
nav {
  display: flex;
  align-items: center;
}

.menu {
  margin-left: auto;
}

.logo {
  font-size: 20px;
  margin: 0 16px 0 0;
  padding: 5px 0px;
}

.banner-text {
  text-align: center;

  h2 {
    font-size: 50px;
  }

  h4 {
    font-size: 26px;
    color: gray;
  }

  a {
    background-color: antiquewhite;
    padding: 10px 20px;
    font-size: 16px;
    color: white;
    border-radius: 5px;
  }
}
.banner {
  padding: 128px 32px 18px;
}
.items {
  margin: 10px 0px;
  display: flex;
  justify-content: space-between;
  height: 100%;
}

.item {
  padding: 0 15px;
  width: (100%/3);
  & > div {
    display: flex;
    flex-direction: column;
    height: 100%;
  }

  & > div:hover {
    box-shadow: 0 2px 12px 2px gray;
  }

  & > div {
    border: 1px solid black;
  }
  .item-body {
    padding: 1.25rem;
    flex: 1 1 auto;

    h4 {
      margin: 8px 0;
      font-size: 18px;
      line-height: 1.2;
      color: gray;
    }
  }
  .item-footer {
    border-top: 1px solid black;
    padding: 0.75rem 1.25rem;
  }
}

.feature-content{
    text-align: center;
    margin: 30px 0;
    color: black;
    font-size: 25px;

    p{
        color: gray;
        font-size: 18px;
    }
}
.content{
    padding: 20px 0 110px;
}

.items{
    margin: 10px 0px;
}
.story{
    width:90%;
    margin: 0 auto;
    background-color:whitesmoke;
}
.story-area{
    color: white;
    padding: 110px 0;
}
.story-content{
    display: flex;
}
.story-img{
    flex: 0 0 450px;
    margin-right: 30px;
    padding: 30px 0 110px
}
.story-text{

    flex:1 1 auto;

    h3{
        font-size: 28px;
    }

    p{
        font-size: 20px;
        
    }

}
.join{
    color:grey;
    background-color: white;
    padding: 110px 0;
    text-align: center;
}

.sign-form{
    width:70%;
    margin: 0px auto;

    &>div{
        margin-bottom: 1rem;
    }

    a{
        display: block;
        background-color: burlywood;
        padding: 10px 20px;
        font-size: 16px;
        color: white;
        border-radius: 5px;
    }
    p{
         text-align: center;
         margin: 0 0 16px;
         padding: 8px 0px;
         font-size: 20px;

    }
}
@media screen and (max-width:1280px){
.container{
    max-width: 940px;
}
.story{
    width: 95%;
}
}

@media screen and (max-width:1024px){
    .container{
        max-width: 830px;
    }
    
    .story-content{
        flex-direction: column;
        align-items: center;
    }

    .story{
        width: 100%;
    }
    
}

@media screen and (max-width:880px){
    .container{
        max-width: 600px;
    }

    .items{
        flex-direction: column;
    }

    .item{
        width: 90%;
        margin: 10px;
    }

    .signup-content{
        width:100%;
    }
}

@media screen and (max-width:767px){
    
}

@media screen and (max-width:640px){
    
}

